* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  border: 6px solid;
  border-image-source: linear-gradient(90deg, #f7c9c9 0%, #FA709A 70%);
  border-image-slice: 1;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: color .6s, background-color .6s;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  padding:0;
  width: 100%;
  max-width: 1140px;
  height: auto;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
}

h1, h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', sans-serif;
}

ol, ul {
  list-style-position: outside;
  padding-left: 1em
}

 ol li:not(:last-child),ul li:not(:last-child) {
  margin-bottom: .25em
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal
}

