* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smaller text for mobile */
@media screen and (max-width: 500px) {
  html {
    font-size: 60% !important;
  }
}

.lead {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.markdown {
  font-size: 1.325rem;
  line-height: 1.75;
  width: 850px;
  max-width: 100%;
}

.twitter-embed {
  margin: 0 auto;
  max-width: 100%;
}

.markdown > *  {
  margin-bottom: 1.4rem;
}

.markdown h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
}

.markdown h1, h2, h3, h4, h5, h6, strong {
  font-weight: var(--font-weight);
}

.markdown h1 {
  font-size: 2.4rem;
  font-family: 'Jost', sans-serif;
}

.markdown h2 {
  font-size: 2rem;
}

.markdown h3 {
  font-size: 1.8rem;
}

.markdown h4 {
  font-size: 1.6rem;
}

.markdown h5 {
  font-size: 1.4rem;
}

.markdown h6 {
  font-size: 1rem;
}

.markdown pre[class*=language-] > code {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
}

.markdown blockquote {
  font-style: italic;
  color: var(--title-color);
  padding: 22px;
  margin: 0 30px;
  border-radius: 5px;
  border: 2px solid;
  border-left: 10px solid var(--text-color);
}

.markdown table {
  border: 2px solid var(--title-color);
  thead {
    border-bottom: 2px solid var(--title-color);
  }
  th {
    border-right: 2px solid var(--title-color);
  }
  tr {
    padding: 20px;
  }
  td {
    border-right: 2px solid var(--title-color);
    padding: 10px;
  }
}

.markdown a {
  color: var(--link-color);
  background:
     linear-gradient(
       to bottom, var(--link-accent-color) 0%,
       var(--link-accent-color) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size .5s;
}


.markdown a:hover {
  background: var(--link-accent-color);
  color: var(--link-color);
  background-size: 4px 50px;
}

.markdown img, .markdown video {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.markdown figure {
  max-width: 100%;
  margin: 2rem auto;
  text-align: center
}

.markdown figure img {
  margin-bottom: 0
}

.markdown figcaption {
  padding-top: .75rem;
}

.markdown hr {
  border: 0;
  border-bottom: 1px solid var(--color-border);
  margin: 2rem 0
}

.markdown h2,.markdown h3,.markdown h4 {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: .5em
}

.markdown h2:first-child,.markdown h3:first-child,.markdown h4:first-child {
  margin-top: 0;
  font-size: 32px;
}

.markdown h2:focus>.heading-anchor,.markdown h2:hover>.heading-anchor,.markdown h3:focus>.heading-anchor,.markdown h3:hover>.heading-anchor,.markdown h4:focus>.heading-anchor,.markdown h4:hover>.heading-anchor {
  opacity: .75
}

.markdown .heading-anchor {
  display: none;
  position: absolute;
  top: 0;
  left: -1em;
  width: 1em;
  opacity: 0
}

.markdown .heading-anchor:focus,.markdown .heading-anchor:hover {
  opacity: 1!important
}

@media (min-width: 670px) {
  .markdown .heading-anchor {
      display:block
  }
}

 ol, ul {
  list-style-position: outside;
  padding-left: 1em
}

 ol li:not(:last-child),ul li:not(:last-child) {
  margin-bottom: .25em
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal
}

.markdown blockquote {
  margin-left: 0
}

.markdown {
  pre,
  code {
    font-family: 'Fira Code', monospace;
    font-feature-settings: "liga" 0;
    border-radius: 5px;
    line-height: 1.5;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-break: wrap;
    tab-size: 2;
    hyphens: none;
    color: #d8d8d8;
  }

  pre::-moz-selection, pre ::-moz-selection,
  code::-moz-selection, code ::-moz-selection {
    text-shadow: none;
  }

  pre::selection, pre ::selection,
  code::selection, code ::selection {
    text-shadow: none;
  }

  // Code blocks
  pre {
    padding: 1.0em;
    margin: .5em 0;
    overflow: auto;
    margin-bottom: var(--space);
    background-color: var(--code-bg);
  }

  // Inline code
  :not(pre) > code {
    color: var(--inline-code-text);
    padding: 0.2rem 0.33rem;
    vertical-align: 1%;
    font-size: .78em;
    border-radius: var(--border-radius);
    background-color: var(--inline-code-offset);
  }
}

// HTML code
.language-html {
  font-variant-ligatures: none;
}

.token.comment
.token.prolog,
.token.doctype,
.token.cdata {
  color: #585858;
}

.token.comment {
  color: #8aa1b4;
}

.token.punctuation {
  color: #d8d8d8;
}

.token.namespace {
  opacity: .7;
}

.token.boolean,
.token.number {
  color: #e2777a;
}

.token.string {
  color: #7ec699;
}

.token.selector {
  color: #ba8baf;
}

.language-css {
  color: #7ec699;
  .token.punctuation {
    color: #f8f8f8;
  }
  .token.property {
    color: #d8d8d8;
  }
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #86c1b9;
}

.token.control,
.token.directive,
.token.unit {
  color: #7ec699;
}

.token.keyword {
  color: #cc99cd;
}

.token.function {
  color: #dd9a6d;
}

.token.tag {
  color: #e2777a;
  .token.punctuation {
    color: rgba(#e2777a, 0.85);
  }
}

.token.attr-name {
  color: lighten(#e2777a, 7);
}
.token.attr-value {
  color: #7ec699;
  .token.punctuation {
    color: #f8f8f8;
  }
}

.token.statement,
.token.regex,
.token.atrule {
  color: #86c1b9;
}

.token.placeholder,
.token.variable {
  color: #7cafc2;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #f8f8f8;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #ab4642;
}

.token.entity {
  cursor: help;
}
